<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.viomi.vmuidemo">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">

        <activity android:name=".ToastActivity" />
        <activity android:name=".ItemViewActivity" />
        <activity android:name=".SearchBarActivity" />
        <activity android:name=".LoadingActivity" />
        <activity android:name=".EmtyActivity" />
        <activity android:name=".SegmentActivity" />
        <activity android:name=".TabbarActivity" />
        <activity android:name=".NoticeBarActivity" />
        <activity android:name=".VerticalTabsActivity" />
        <activity android:name=".FixedTabsActivity" />
        <activity android:name=".DarkTabsActivity" />
        <activity android:name=".ScrollTabsActivity" />
        <activity android:name=".TitleActivity" />
        <activity android:name=".ButtonActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".TabsActivity" />
    </application>

</manifest>